{% extends "workout/layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block body %}

    <form action="{% url 'change_password' %}" method="post" class="user-form container-sm my-5">
        {% csrf_token %}

        <h2 class="mb-4">Change Password</h2>

        <div class="form-group">
        {{ form.as_p }}
        </div>

        <input class="btn btn-warning" type="submit" value="Change Password">

        <!-- <div class="my-5"><a class="text-primary" href="{% url 'password_reset' %}">Forgot your password?</a></div> -->

    </form>



    

{% endblock %}