{% extends "workout/layout.html" %}

{% block title %}
Password Reset
{% endblock %}

{% block body %}

    <form action="{% url 'password_reset' %}" method="post" class="user-form container-sm my-5">
        {% csrf_token %}

        <h2 class="mb-4">Password Reset</h2>

        {% if message %}
        <h5 class="error_message">{{ message }}</h5>
        {% endif %}

        <div class="form-group">
        {{ form.as_p }}
        </div>

        <input class="btn btn-warning" type="submit" value="Send Email">

    </form>

    

{% endblock %}